.container1 {
    position:relative;
    width: 600px;
    margin: auto;
    background-color: #F3554F;
}
.container1 canvas,
.center {
    position:absolute;
    top:50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container2 {
    height: 175px;
    padding: 30px;
}
.container3 {
    max-height: 100px;
    padding: 15px;
    background-color: white;
    justify-content: center;
}
.column2 {
    height: 100vh;
    margin: auto;
    border-radius: 2ch;
}
.column3 {
    margin: auto;
    height: 20%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.wrapper{
    width: 350px;
    background: rgb(232,104,77);
    border-radius: 15px;
    margin: 30px auto;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
button{
        width: auto;
        height: 40px;
        padding: 10px;
        outline: none;
        cursor: pointer;
        margin: 50px 5%;
        justify-content:left;
        
}

.headertekst{
    text-align: center;
  }